
.grid {
    color: #ffffff;
    width: 500px;
    display: grid;
    grid-template-columns: 245px 245px;
    grid-gap: 10px;
  }
  
.grid > * {
    padding: 10px;
    background-color:  rgb(18, 109, 212);
    border: 5px solid rgb(38, 129, 232, 1);
    border-radius: 10px;
}
  
