<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/admin.css"/>
    <title>Admin</title>
</head>
<body>
    <form id="admin_form">
        <div class="form_item">
            <label>Login</label>
            <input name="login" type="text"/>
        </div>
        <div class="form_item">
            <label>Password</label>
            <input name="password" type="password"/>
        </div>
        <label id="response"></label>
        <button id="submit">Submit</button>
    </form>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/admin.js"></script>
</body>
</html>