<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/{{ filename }}.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>{{ title }}</title>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark" style="width: 100%; justify-content: center;">
            <a class="navbar-brand" href="/events">Events</a>
            <a class="navbar-brand" href="/help_requests">Help requests</a>

            <a class="navbar-brand" href="/statistics">Statistics</a>
        <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color: #FFFFFF;">
                Account
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/settings">Settings</a>
                <a class="dropdown-item" href="/logout">Log out</a>
                </div>
        </li>
    </nav>

    {% block content %}{% endblock %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" src="/static/{{ filename }}.js"></script>
</body>
</html>