{% extends "base.jinja2" %}
{% block content %}

<div class="main">
    <div class="section_custom">
        <h2>Events</h2>
        <div class="container_custom" id="events">

        </div>
    </div>
</div>

{% endblock %}


