{% extends "base.jinja2" %}
{% block content %}

<div class="main">
    <div class="section_custom">
        <div style="display: flex; flex-direction: row; align-items: center;">
            <h2>Events</h2>

            <div id="new_event">
                <form action="/insert" method="get">
                    <button class="btn btn-primary">
                        Add new event
                    </button>
                </form>
            </div>
        </div>


        <div class="grid" id="events">

        </div>
    </div>
</div>

{% endblock %}


