{% extends "base.jinja2" %}
{% block content %}

<div class="main">
    <div class="section_custom">
        <h2>Help Request</h2>
        <div class="grid-container" id="help_requests">

        </div>
    </div>
</div>

{% endblock %}


