{% extends "base.jinja2" %}
{% block content %}
<div class="main">
    <div class="container_custom">
        <form action="" class="form">
            <input placeholder="Event name" name="event_name" required/>
            <input placeholder="Event description" name="event_description" required/>
            <input placeholder="Day start" name="day_start"/>
            <input placeholder="Day end" name="day_end"/>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}