{% extends "base.jinja2" %}
{% block content %}
<div class="main">
    <form action="" class="form">
        <input placeholder="Old password" name="old"/>
        <input placeholder="New password" name="new"/>
        <input placeholder="Repeat new password" name="repeat"/>
        <button class="button_add">Change password</button>
    </form>
</div>
{% endblock %}